body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    min-width: 100vw;
    background-color: #f5f5fc;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    outline: none;
    text-decoration: none;
    color: inherit;
}

.header {
    padding: 0.5rem 2rem;
    background-color: #856ef7;
    color: white;
    text-align: center;
}

.navbar {
    background-color:white;
    color: black;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navbar-right {
    font-weight: bold;
    margin-right: auto;
}

.about {
    background-color: #e6e2fe;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 3rem 2rem;
    justify-content: start;
    align-items: start;
    min-height: 8rem;
}

.main {
    margin: 5rem 0;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-inline: 1rem;
}

.info {
    background-color: white;
    border-radius: 5px;
    color: black;
    max-width: max(50%, 20rem);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* border: 2px solid #58009a; */
    border: 2px solid rgba(94, 94, 94, 0.167);
    display: flex;
    padding: 1rem 1.5rem;
    gap: 1.5rem;
    align-items: center;
}

.info-right > * {
    font-size: 2rem;
}

.info-left > h3 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.item-border {
    border: 2px solid #58009a;
}